<!--views\auth\admin.ejs-->
<a href="/admin">Home</a>

<body>
    <header>
        <h1>Painel do Administrador</h1>
    </header>
    <nav>
        <a href="/admin">Home</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Adicionar User</a></li>
            <li><a href="/doacoes">Doacoes</a></li>
            <li><a href="/doacoes/new">Adicionar Doacao</a></li>
            <li><a href="/entidades">Entidades</a></li>
            <li><a href="/entidades/new">Adicionar Entidade</a></li>
        </ul>
    </nav>

</body>
</html>

