<!--views\auth\home.ejs-->
<body>
    <h1>Bem-vindo ao nosso site!</h1>
    <p>Escolha uma das opcoes abaixo para continuar:</p>
    <div>
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Registro</button></a>
    </div>
</body>
</html>

