<!--views\partials\header.ejs-->
<!-- Isto permite ter o codigo mais organizado e pequeno-->
<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Adicionar User</a></li>
            <li><a href="/doacoes">Doacoes</a></li>
            <li><a href="/doacoes/new">Adicionar Doacao</a></li>
        </ul>
    </nav>
</header>