<!-- views\index.ejs-->
<h2>Recently Added</h2>

<div>
  <% entidades.forEach(entidade => { %>
    <!--Para exibir o logotipo da empresa -->
    <img height="150" width="100" src="<%= entidade.coverImagePath %>">
  <% }) %>
</div>
