<!--views\entidades\_form_fields.ejs-->

<!-- INSERIR LOGO EMPRESA-->

<div>
  <label>Name</label>
  <input type="text" name="name" value=" <%= entidade.name %>" />
</div>

<div>
  <label>Email</label>
  <input type="String" name="email" value="<%= entidade.email %>" />
</div>

<div>
  <label>companyLogo</label>
  <input type="file" name="logo" />
</div>



