<!--views\doacoes\new.ejs -->
<h2>Nova Doacao</h2>
<form action="/doacoes" method = "POST">
    <%- include('_form_fields') %>
    <a href="/doacoes">Cancel</a>
    <button type="submit">Create</button>
</form>