<!--views\users\_form_fields.ejs-->
<div>
  <label>Name</label>
  <input type="text" name="name" value=" <%= user.name %>" />
</div>

<div>
  <label>Email</label>
  <input type="email" name="email" value="<%= user.email %>" />
</div>

<div>
    <label for="role">Tipo</label>
    <select name="role">
      <option>Doador</option>
      <option>Funcionario</option>
      <option>Admin</option>
    </select>
</div>

<div>
  <label>Pontos</label>
  <input type="number" name="points" min=0 value="<%= user.points %>" />
</div>


