<!--views\users\_form_fields.ejs-->
<div>
  <label>Name</label>
  <input type="text" name="name" value=" <%= user.name %>" />
</div>

<div>
    <label>Email (Falta fazer)</label>
</div>

<div>
    <label>Tipo (Falta fazer)</label>
</div>
