<!--views\users\edit.ejs -->
<h2>Edit User</h2>
<form action="/users/<%= user.id %>?_method=PUT" method = "POST">
    <!-- Vou utilizar o mesmo para a edicao -->
    <%- include('_form_fields') %>
    <a href="/users">Cancel</a>
    <button type="submit">Update</button>
</form>